// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "reset";
@import "base";


.scores {
  font-family: "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(#888888, 0);
  border-radius: 2px;
  margin: 20px auto;
  padding: 10px 0px;
  max-width: 500px;
  width: 100%;
  border:1px solid lighten(#ccd6dd,5%);
  border-radius:0;
  background:lighten(#eee, 5%);
  transition: all .3s ease-in;

  &:hover {
    background:#fff;
    box-shadow: 2px 2px 5px rgba(#888888, .25);
  }

  .scores__content{
    margin:10px 0;
    padding:0px 20px;
    }
}

.user-data {
  display: inline-block;
  margin: 0px;
  min-width: 49%;
  padding: 10px 0px ;

  @media only screen and (min-width: 640px){
    min-width: 24.25%;
  }
}

.user-data__title {
  font-size: .7em;
  letter-spacing:1px;
  font-weight:600;
  color: #07121e;
  text-transform:uppercase;
}
.user-data__value {
  font-size: 1.3em;
  font-weight: 400;
  color: #8899a6;
}


a, .TweetAuthor-screenName .Identity-screenName, .customisable-highlight {
  color:#55ACEE !important;
}
